
  {%extends 'htmx_app/main.html' %}
  
  {% block content %}

  <style>
.custom-css-table{
  margin-top:2%;
}
h1{
  text-align:center;
}
h4{
  text-align:center;
  
}
.add-button-class{
  text-align:center; 
  margin-top: 20px;
}
.primary-key{
  margin-left: 20px;
}
  </style>


{% comment %} <h4>By <a href="https://www.altafhosen.com/"><i>Altaf Hosen</i></a></h4> {% endcomment %}

 {% comment %} <a  href="{% url 'taskapp:task-create'  %}">
    <div class="add-button-class">
        <input class="btn btn-success col-6" type="submit" value="Save">
        <button type="button" class="btn btn-success col-6 ">Click to Add</button>
    </div>
</a> {% endcomment %}

 <!-- <div class="container" hx-post="{% url 'taskapp:task-create'  %}"
hx-target="#test"
hx-swap="afterend">
  <input type="text" class="col-6 mb-2" >
  <button type="button" class="btn btn-success col-6 ">Click to Add</button>
</div>   -->

<div class="container mt-5">
<form class="flex mb-6 space-x-4">
  <input type="text" name="title" class="title flex-1 px-4 py-3 bg-gray-200 rounded-xl" placeholder="The title">
  <button type="submits" hx-post="{% url 'htmx_app:add_todo'  %}" hx-target="#test"  hx-trigger="click"
   class="p-3 rounded-xl text-white btn-success hover:bg-cyan-600">+</button>
</form>
</div>


{% comment %} <div id="response-div"></div>
<button hx-post="/register" hx-target="#response-div" hx-swap="beforeend">
    Register!
</button> {% endcomment %}

<div class="custom-css-table">
    <table   class="table table-hover">
        <tbody id="test" >
 
          {% include 'htmx_app/partials/todo_list.html' %}

           </tbody>
       </table>
  </div>

  {% endblock %}

